{
		"extends": ["happiness", "happiness-jsx"],
		"plugins": [
			"babel"
		],
		"rules": {
			"quotes": 0,
			"comma-dangle": [1, "always-multiline"],
			"space-before-function-paren": [1, "never"],
			"padded-blocks": 0,
			"semi": [1, "never"],
			"indent": [1, "tab"]
		}
}
